body {
    color: #ccc;
    background-color: #181818;
    font-size: 22px;
    font-family: 'segoe ui', sans-serif;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1100px;
    margin: 0 auto;
}
.wrapper > * {
    padding: 1em;
}
header,
footer {
    background-color: #121212;
}

header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2em;
}

a {
    text-decoration: none;
    color: #0e75fa;
}

h2 {
    color: goldenrod;
    margin-bottom: 0;
}

.df {
    display: flex;

}
.sb {
    justify-content: space-between;
}
.g1 {
    gap: 1em;
}

.df.g1 > code {
    border: solid 1px currentColor;
    padding: 0.125em 0.5em;
}